<% layout("layout/boilerplate") -%>
  <div class="container" style="margin-top: 100px;">
    <h1 class="mb-4">Edit Article</h1>

    <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>